<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sitetech.routecheckapp">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name="sitetech.NFCcheckPoint.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sitetech.NFCcheckPoint.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="sitetech.NFCcheckPoint.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sitetech.NFCcheckPoint.MainActivity" />
        </activity>
        <activity
            android:name="sitetech.NFCcheckPoint.LockActivity"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait" />
        <activity
            android:name="sitetech.NFCcheckPoint.OperadorActivity"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_filtros" />
        </activity>
        <activity
            android:name="sitetech.NFCcheckPoint.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_filtros" />
        </activity>
        <activity
            android:name="sitetech.NFCcheckPoint.LoginActivity"
            android:label="NFC Check Point"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="sitetech.NFCcheckPoint.miServicio" />
    </application>

</manifest>